<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>

  <h1>Your shortened URL!</h1>
  
  <ul>
      <li><%= shortURL %> - <%= longURL %></li>
  </ul>
  
  <form action="/urls/<%= shortURL %>/modify" method="POST" style="margin:150px;">
    <label for="long">Modify your URL:</label>
    <input id="long" type="text" name="long" value="http://" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit"></form>

  <div>
      <a href="<%= linkOut %>">CLick here to go to your new link!</a>
  </div>

  <div>
      <a href="<%= /urls/ %>">Click here to return to the URL list.</a>
  </div>
</body>
</html>