<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <% include partials/_header %>
</head>
<body>
<div class="container">
  <h2 class="text-center">Your shortened URL!</h2>
  
  <ul class="text-center" style="list-style: none;">
    <li><%= url.id %> - <%= url.url %></li>
  </ul>
  <!-- Modifying url -->
  <form action="/urls/<%= url.id %>/modify" method="POST" class="text-center" padding-top="50px">
    <label for="long">Modify your URL:</label>
    <input id="long" type="text" name="long" value="http://" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>

</div>
<div class="center">
  <!-- Redirect to shortened link -->
  <div>
    <h4 class="text-center"><a href="<%= linkOut %>">Click here to go to your new link!</a></h4>
  </div>

  <!-- Back to URL list -->
  <div>
    <h4 class="text-center"><a href="<%= /urls/ %>">Click here to return to the URL list!</a></h4>
  </div>
</div>
</body>
</html>